<br /><br />
<body style="margin-left:4em; margin-right:4em">
  <h2>About Stephanie</h2>
        As a physiotherapist, Stephanie Marcotte has dedicated herself to helping others discover a
        pain-free life by tapping into the power of their own body. Now, to help reach more people,
        Stephanie has developed a unique online platform that allows her to share her expertise in a
        convenient, effective, and personalized way.<br /><br />
      With over three decades of professional experience, Stephanie inspires her clients to move towards
      a better life, giving them the tools they need to feel better. Stephanie has studied and
      observed thousands of bodies in injury and pain over the years. When in pain, whether physical
      or emotional - we stop moving. The body bears the burdens in life, both mentally
      and physically.<br /><br />
      A keen observer of how the human body moves and works as a whole, Stephanie is dedicated to
      helping others discover the ease of living a pain-free life.<br /><br />
      <b>Her treatment method is simple: A little way with a little movement.</b><br /><br />
      By utilizing movement from within your own body, Stephanie will help you return to a state of
      well-being. Her custom-tailored work, which uses simple movement patterns without any force,
      reminds your body of its proper design function.<br /><br />
      Once you start moving again, you’ll be inspired to keep going.<br /><br />
      A leader in the self-care movement, Stephanie’s expertise in the field of pain relief will give you
      the knowledge and confidence you need to step into a better life.<br /><br />
      Through individualized consultation sessions, Stephanie works alongside you to help you
      achieve your best health. She believes that your body knows how to heal itself and that you already
      have everything you need to feel better about your body and your life.<br />
      A little way with a little movement really will help you enjoy a life you never thought possible.<br /><br />
      <b>
        Discover how Stephanie can help you today!
      </b><br />
</body>