<body>
  <header class="masthead" style="padding-bottom: 0;">
    <div class="container" style="text-align: center; align-content: center">
      <div class="intro-text">
        <div class="intro-lead-in">Pain Stops Here</div>
        <div class="intro-heading text-uppercase">Discover the online solution to pain relief.</div>
        <div class="ui positive button" style="background-color: white; color: #4f9ec7">
          <a href="#services">
             Tell Me More
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br /><br />
          <h2 class="section-heading text-uppercase">What I Believe</h2>
          <p>
            I believe movement is life.<br /><br />
            I believe you can heal your body with functional movement patterns.<br /><br />
            I believe it is never to late to create change in a body & it can happen fast.<br /><br />
            I believe your body knows what it needs.<br /><br />
            I believe every system in your body relies on a functional musculoskeletal system.<br /><br />

            All systems in the body work on movement:<br /><br />

            • the heart beats<br />
            • the lungs breath<br />
            • the stomach grinds<br />
            • the colon transports<br />
            • the blood flows<br />
            • the nerves conduct<br />
            • the muscles contract<br /><br />
            Dis-ease in the body begins when movement is impaired. Restore your proper design for movement and your pain will cease. No fancy machinery or magic pills required; your body already has everything it needs to heal.
            <br /><br />
            I believe you need to trust yourself.<br /><br />
            I believe you need to take responsibility for your present state of health.<br /><br />
            I believe you can become free of your pain.
          </p>
        </div>
      </div>
    </div>
  </section>
  <h1 class="ui horizontal divider">
    <i class="question icon"></i>
  </h1>
  <!-- About -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">Discover what makes us who we are.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="padding: 0 15px 0 15px; margin-right:6em; margin-left: 6em">
          <h3>
            How would you like to understand how the body works, why you
            experience pain in the body and help lead you towards a more enjoyable
            pain free life?
          </h3><br /><br />
          Unfortunately, so many people simply don’t understand how the body
          works. This leaves them feeling helpless when it comes to treating the pain
          they experience in their body.<br /><br />
          How would you like to live pain-free so that you can get back to doing what
          you love most?<br /><br />
          As a physiotherapist for over three decades, I can help.
          My name is Stephanie Marcotte & I have helped thousands of people free
          themselves from the pain and suffering caused by issues and imbalances
          with the musculoskeletal system.<br /><br />
          Your musculoskeletal system is what allows you to move. When it is
          working properly, you not only move better, but you move without pain, too.
          But, when you have injured or strained this system, you experience pain.<br />
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Muscle strains</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Sprains</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Fractures</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Ligament injuries</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Sports injuries</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Acute pain</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Chronic pain</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Post-injury pain</h3>
          <h3 class="section-subheading text-muted" style="margin-bottom: 0">• Post-surgical pain</h3><br />
          And while there are plenty of options when it comes to relieving pain with
          external treatments (like drugs, braces, supports, exercises, etc.), they
          don’t always get to the root of your problem:
          Your musculoskeletal system.<br /><br />
          I can help you find and understand the source of your pain based on your
          musculoskeletal system. The same system that creates the pain in your
          body, can help you recover from your pain. The solution to your pain
          actually lies within your own body.<br /><br />
          <b>I know it sounds simple, it is.</b><br />
          What if you could do something to help yourself? What if you understood
          what your body was communicating and thus could make lasting change.
          Changes that would help you move better into your latter years.
          I can show you how to tap into your body’s intuitive knowledge, helping you
          to better understand the actual source of your pain, so that you can fully
          recover from it.<br /><br />
          <b>
            It is no longer appropriate to just label pain without actually fixing it.
            You deserve better than that!
          </b><br />
          By learning how to effectively work with your body, you can create lasting
          changes, ones that will stay with you for the rest of your life. It all starts with
          creating proper design function in your body. Despite what you hear, the
          body is in no way, shape, or form weak, frail, or compromised.
          In fact, your body is intelligent, adaptive, and fully capable of healing itself!
          Your body is an entire unit. You can’t do something to one part of it without
          causing repercussions to the body as a hole. That’s why, when you
          experience pain, you are actually experiencing a dysfunction in your entire
          system.<br /><br />
          <b>Fix the system. Fix the pain.</b><br />
          Two amazing observations I have made in the clinic over the years:<br />
          <b>
            1. It is never too late to start making lasting changes in your body. Age is
            no boundary, it is just a number.<br />
            2. The body is way more resilient and responsive to change than you ever
            thought possible.<br /><br />
          </b>
          Do you want to age gracefully, keeping your body in optimal health and
          avoiding the myriad of problems associated with getting older?
          As your personal pain relief specialist, I can help you discover the beautiful
          possibility of living life pain free, no matter your age!
          Together we can re-awaken your body’s natural ability to move, overcoming
          years (even decades) of misuse, disuse, stress, and trauma. Don’t just live
          longer, live better.
          <h4>
            What are you waiting for?
            Let’s get started now!
          </h4>
          <h2><i>Stephanie Marcotte</i></h2>
        </div>
      </div>
    </div>
  </section>
  <h1 class="ui horizontal divider">
    <i class="mail icon"></i>
  </h1>
  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">Contact a physiotherapist today.</h3>
        </div>
      </div>
      <div class="row">
        <h3>
          <i>
            Location
          </i>
        </h3>
        <p>
          Marcotte Physiotherapy Clinic<br />
          313 Main St. East, Suite 19<br />
          Kingsville, ON N9Y 1A7<br />
        </p>
        <h3>
          <i>
            Contact Info
          </i>
        </h3>
        <p>
          Email: <a href="mailto:stephanie@marcottephysio.com">stephanie@marcottephysio.com</a><br />
        </p>
        <h3>
          <i>
            Hours of Operation
          </i>
        </h3>
        <p>
          Monday-Friday: 9:15am - 4:45pm (Closed for lunch between 12:30pm and 1:30pm)
        </p>
      </div><br /><br /><br /><br />
      {{contact-form}}
    </div>
  </section>
</body>