<br /><br />
<body style="margin-left: 4em">
    <h2>Services</h2>
    <h3>Whether you have come here seeking…</h3>
    <p>
        <ul>
            <li>A solution to a chronic pain problem</li>
            <li>Help recovering from an injury</li>
            <li>To achieve a higher level of physical performance</li>
            <li>Improved overall health</li>
        </ul>
        <h4>I can help you reach your goals.</h4><br />
        At Marcotte Physiotherapy Clinic, you will experience a gradual re-awakening of your body’s need for movement. Your body was designed to move and move often.<br /><br />

        Misuse, disuse, stress and trauma of the body passes unnoticed until we experience physical pain. Pain is the message the body uses to communicate with you. Pain gets you to ACT. No need to fear the pain, it is simply the messenger of dysfunction and/or malalignment in the body.<br /><br />

        At my clinic, I want to help you understand the design of the body and how it functions. The physical symptoms you experience are the direct result of injury and/or postural dysfunction.<br /><br />

        An injury does not mean you have to live in chronic pain. The body heals, it will move forward in life; you need to move beyond the fear and recapture the joy in life. Daily use of our body and mind in meaningful ways maintains both the structure and function of the body.<br /><br />

        Successful treatment requries a commitment on your part, it means taking responsibility for your present state of health and taking the time to make positive changes in your lifestyle. My commitment to you is compassionate care.<br /><br />

        The body is an amazing self healing organism. If you have the desire, I can show you the way to living pain free.<br /><br />

        Your health is your wealth…..Let’s get started!<br /><br /><br />

        <h4>Stephanie Marcotte (registered physiotherapist)<br />
        (BSc.PT, BA)</h4><br />
    </p>
    <h2>Treatment Package Options</h2><br />
    <div style="text-align: center">
        <div class="ui raised segment" style="display: inline-block; text-align:center; padding-top: 28px">
            <h3>Assessment Package</h3>
            <p>Initial consult via email and video conference</p><br /><br />
            <p>Personal online account Therapy Plan - accessed on your account</p><br /><br />
            <p>Education, Advice</p><br /><br />
            <b>$150</b>
        </div>
        <div class="ui raised segment" style="display: inline-block; text-align:center">
            <h3>Assessment Package + 3 Sessions</h3>
            <p>Initial consult via email and video conference</p><br />
            <p>3 further online sessions via email and video conference</p>
            <p>Personal online account Therapy Plan - accessed on your account</p><br /><br />
            <p>Education, Advice</p><br /><br />
            <b>$350</b>
        </div>
        <div class="ui raised segment" style="display: inline-block; text-align:center">
            <h3>Assessment Package + 6 Sessions</h3>
            <p>Initial consult via email and video conference</p><br />
            <p>6 further online sessions via email and video conference</p>
            <p>Personal online account Therapy Plan - accessed on your account</p><br /><br />
            <p>Education, Advice</p><br /><br />
            <b>$550</b>
        </div>
    </div><br />
    <b>*Single Follow-up Appointments within 3 months of initial consusltation - $75</b><br /><br />
</body>